body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,li,a{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.site_main{
    padding-top: 136px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.site_header{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_wrapper .header_right ul{
    display: flex;
    justify-content: space-between;
}
.header_wrapper .header_right ul .header_link{
    margin-right: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding: 16px;
    line-height: 24px;
    color: #000000;
}

.header_wrapper .header_right ul .primary_btn{
   border: 3px solid transparent;
}
.primary_btn{
    font-style: normal;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    color: #FFFFFF;
}
.section_one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
}
.section_one_left .section_one_heading{
    font-style: normal;
    font-weight: bold;
    width: 470px;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}
.section_one_left .section_one_text{
    font-style: normal;
    font-weight: normal;
    margin-bottom: 24px;
    font-size: 16px;
    width: 465px;
    line-height: 24px;
    color: #000000;
}
.section_one_right iframe{
    border-radius: 5px;
}
.section_two .section_two_top .section_two_top_heading{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 16px;
    color: #000000;
}
.section_two .section_two_top .section_two_top_text{
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 24px;
    width: 719px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.section_two_mid .service_item{
    padding: 32px 58.6px 24px 58.6px;
    background: #FFFFFF;
    display: block;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
.section_two_bottom .service_item{
    padding: 32px 58.6px 24px 58.6px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
.section_two{
    margin-bottom: 112px;
}
.section_two_mid .item_heading{
margin-bottom: 16px;
margin-top: 16px;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 130%;
text-align: center;
color: #000000;
text-align: center;
}
.section_two_mid .item_text{
    margin-bottom: 16px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;

}
.section_two_mid .service_item{
    flex-direction: column;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}
.section_two img{
    width: 202.79px;
    height: 130px;
    object-fit: contain;
    margin: 0 auto;
}
.section_two_mid{
    display: flex;
    margin-bottom: 48px;
    justify-content: space-between;
}
.section_two_bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;
}
.section_two_bottom .service_item{
    margin-right: 70px;
    transition: all 0.3s ease;
}
.section_two .service_links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondary_btn{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #00BAFC;
    margin-left: 16px;
}
.section_three_header .section_three_heading{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 16px;
    color: #000000;
}
.section_three_header .section_three_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 24px;
    width: 719px;
    margin: 0 auto;
    text-align: center;
    color: #000000;
}
.section_three_header{
    margin-bottom: 24px;
}
.section_three{
    width: 1000px;
    margin: 0 auto;
}
.section_three_item{
    display: flex;
    align-items: center;
}
.section_three_itemHeading{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 8px;
    color: #000000;
}
.section_three_itemText{
    /* width: 493px; */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.section_three_item .section_three_item_right{
    margin-left: 24px;
}
.section_three_item:nth-child(odd){
    flex-direction: row-reverse;
}
.section_three_item:nth-child(odd) .section_three_item_right{
    width: 100%;
}
.section_three_item{
    margin-bottom: 48px;
}
.section_three_btn{
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}
.order_section{
    padding-top: 56px;
    background: #00BAFC;
    padding-bottom: 64px;

}
.order_section_items .order_top .order_title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 16px;
    text-align: center;
    color: #FFFFFF;
}
.order_section_items .order_top .order_paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
    text-align: center;
    color: #FFFFFF;
}
.order_section .order_bottom form{
    width: 348px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 24px;
    border-radius: 5px;
}
input::placeholder{
    color: #000000;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}
.order_section .order_bottom form input,
select{
    background: #F3F3F3;
    border-radius: 5px;
    margin-bottom: 16px;
    border: none;
    padding: 16px;
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    box-sizing: border-box;
}
.form_link{
    display: flex;
    justify-content: center;
}
footer{
    background: #191919;
}
.footer_wrapper .footer_left_heading{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 16px;
    padding-top: 56px;
}
.footer_wrapper .footer_left_subheading{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 320px;
    line-height: 150%;
    color: #FFFFFF;
}
.footer_wrapper{
    display: flex;
}
.footer_wrapper .footer_right{
    display: flex;
}
.footer_right h3{
    padding-top: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
.footer_right ul li a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
    display: inline-block;
}
.first_column{
    margin-bottom: 56px;
    margin-left: 100px;
}
.second_column{
    margin-left: 87px;
}
.second_column .footer_links{
    position: relative;
    left: 27px;
    display: flex;
    align-items: center;
}
.second_column .footer_links:before{
    position: absolute;
    content:'';
    left: -27px;
    background-image: url('../images/Vector.svg');
    width: 22px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 24px;
}
.second_column .footer_links.facebook:before{
    background-image: url('../images/Vector\ \(1\).svg');
}
.second_column .footer_links.instagram:before{
    background-image: url('../images/Vector\ \(2\).svg');
}








/* hover effektlar */
.first_column .footer_links:hover{
    color: #00BAFC;

}

.second_column .footer_links:hover{
    opacity: 0.6;
    color: #00BAFC;
}
.header_wrapper .header_right ul .header_link:hover{
    border-bottom: 3px solid #191919;
}

.header_wrapper .header_right ul .primary_btn:hover{
   border: 3px solid #00BAFC;
   color: #00BAFC;
   background: #FFFFFF;
}

.dropdown_menu a:hover{
    background: #00BAFC;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}
main .primary_btn:hover{
    background: rgba(0, 186, 252, 0.8);
}
form .primary_btn:hover{
    background: rgba(0, 186, 252, 0.8);
}
.service_item:hover{
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.header_left a:active{
    opacity: 0.8;
}




/* active effectlar */

.header_wrapper .header_right ul .header_link:active{
    background: rgba(25, 25, 25, 0.7);
    border: none;

color: #FFFFFF;
}
.first_column .footer_links:active{
    color: #00BAFC;
    opacity: 0.6;
}

.second_column .footer_links:active{
    color: #00BAFC;
    opacity: 1;
}
.header_left a:active{
    opacity: 0.4;
}
.service_item:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

main .primary_btn:active{

background: rgba(0, 186, 252, 0.6);
}
form .primary_btn:active{

background: rgba(0, 186, 252, 0.6);
}


.header_wrapper .header_right ul .primary_btn:active{
    background: rgba(0, 186, 252, 0.6);
    border: 3px solid transparent;
    color: #fff;

}

.dropdown_menu a:active{
   opacity: 0.6;
}





/* dropdown menu */

.dropdown_menu{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
}
.dropdown_btn{
    position: relative;
}
.dropdown_btn:hover .dropdown_menu{
    display: block;
}
.dropdown_menu a{
    display: block;;
    padding: 16px 51px 16px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}


/* servislar */




.services{
    padding-top: 116px;
}
.services_top_wrapper .section_two_top .section_two_top_heading{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 16px;
    text-align: center;
    line-height: 130%;
}
.services_top_wrapper .section_two_top .section_two_top_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 72px;
    color: #000000;
}
.services_bottom_wrapper{
    background: #F4F4F4;
}
.service_list{
    width: 804px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}
.service_card{
    background: #FFFFFF;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 32px;
    margin-bottom: 64px;
    display: flex;
}
.services_item_list{
    margin-bottom: 24px;
}
.services_item_list p{
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    color: #000000;
    display: flex;
    left: 18px;
    align-items: center;
}
.services_item_list p:before{
    content:'';
    position: absolute;
    left: -18px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #00BAFC;
}
.service_card .card_name{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 16px;
    color: #000000;
}
.service_card .card_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: #000000;
}
.service_card_right{
    margin-left: 40px;
}

button.primary_btn{
    border: none;
}
